<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omega Administrator Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-lg-12">
                <div class="navigation">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="/admin/">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin/buses">Buses</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin/tickets">Tickets</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="contents">
        <div class="container">